<div [style.display]="Visible.toString() == 'true' ? 'block':'none' ">
  <br />
  <div class="card" >

    <div class="card-body">
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanSave">Can Save</mat-checkbox>
      <mat-checkbox #candelete [(ngModel)]="sideNavService.ToolBarOptions.CanDelete">Can Delete</mat-checkbox>
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanNew">Can New</mat-checkbox>
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanRetreive">Can Retrieve</mat-checkbox>
      <mat-checkbox #cansave [(ngModel)]="sideNavService.ToolBarOptions.CanExecute">Can Execute</mat-checkbox>
    </div>   
    <button mat-button (click)="SetCurrentToolBar()">{{ButtonCaption}}</button>
  </div>
 
</div>
