<table style="width: 100%;">
  <tr>
    <td>Printer Code</td>
    <td> <input id="txtPrinterCode" type="text" autocomplete="off" /></td>
  </tr>
<tr>
  <td colspan="2"><div class="titleBorder"></div></td>
</tr>
  <tr>
    <td>Printer Description</td>
    <td><input id="txtPrinterDesc" style="width:300px" type="text" autocomplete="off" /></td>
  </tr>
  <tr>
    <td style="vertical-align: top">Narration</td>
    <td>          <textarea id="txtNarration" style="width: 300px;height:100px" type="text" rows="15" autocomplete="off" ></textarea>
    </td>
  </tr>
  
</table>
